/*

    Name:       Base16 material Light
    Author:     Sean Washington (http://seanwash.com)

    CodeMirror template adapted for IPython Notebook by Nikhil Sonnad (https://github.com/nsonnad/base16-ipython-notebook)
    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* Uncomment to use a custom font
div#notebook, div.CodeMirror, div.output_area pre, div.output_wrapper, div.prompt {
  font-family: 'Custom Font Name', monospace !important;
}
*/

/* GLOBALS */
body {background-color: #ffffff;}
a {color: #81a2be;}

/* INTRO PAGE */
.toolbar_info, .list-container {color: #263238;}

/* NOTEBOOK */

/* comment out this line to bring the toolbar back */
div#maintoolbar, div#header {display: none !important;}

div#notebook {border-top: none;}

div.input_prompt {color: #b294bb;}
div.output_prompt {color: #cc6666;}
div.input_area {
  border-radius: 0px;
  border: 1px solid #ecefef;
}
div.output_area pre {font-weight: normal; color: #37474f;}

.rendered_html table, .rendered_html th, .rendered_html tr, .rendered_html td {
  border: 1px  #707880 solid;
  color: #707880;
}
div.output_html { font-family: sans-serif; }
table.dataframe tr {border: 1px #37474f;}

div.cell.selected {border-radius: 0px;}
div.cell.edit_mode {border-radius: 0px; border: thin solid #cc6666;}
div.text_cell_render, div.output_html {color: #37474f;}

span.ansiblack {color: #263238;}
span.ansiblue {color: #8abeb7;}
span.ansigray {color: #b5bd68;}
span.ansigreen {color: #b5bd68;}
span.ansipurple {color: #b294bb;}
span.ansired {color: #cc6666;}
span.ansiyellow {color: #f0c674;}

div.output_stderr {background-color: #cc6666;}
div.output_stderr pre {color: #ecefef;}

.cm-s-ipython.CodeMirror {background: #ffffff; color: #263238;}
.cm-s-ipython div.CodeMirror-selected {background: #ecefef !important;}
.cm-s-ipython .CodeMirror-gutters {background: #ffffff; border-right: 0px;}
.cm-s-ipython .CodeMirror-linenumber {color: #b5bd68;}
.cm-s-ipython .CodeMirror-cursor {border-left: 1px solid #707880 !important;}

.cm-s-ipython span.cm-comment {color: #cc6666;}
.cm-s-ipython span.cm-atom {color: #b294bb;}
.cm-s-ipython span.cm-number {color: #b294bb;}

.cm-s-ipython span.cm-property, .cm-s-ipython span.cm-attribute {color: #b5bd68;}
.cm-s-ipython span.cm-keyword {color: #cc6666;}
.cm-s-ipython span.cm-string {color: #f0c674;}
.cm-s-ipython span.cm-operator {color: #cc6666;}
.cm-s-ipython span.cm-builtin {color: #b294bb;}

.cm-s-ipython span.cm-variable {color: #b5bd68;}
.cm-s-ipython span.cm-variable-2 {color: #81a2be;}
.cm-s-ipython span.cm-def {color: #cc6666;}
.cm-s-ipython span.cm-error {background: #cc6666; color: #707880;}
.cm-s-ipython span.cm-bracket {color: #37474f;}
.cm-s-ipython span.cm-tag {color: #cc6666;}
.cm-s-ipython span.cm-link {color: #b294bb;}

.cm-s-ipython .CodeMirror-matchingbracket { text-decoration: underline; color: #263238 !important;}
