/* Base16 material
Scheme: Sean Washington (http://seanwash.com) */

table.sourceCode, tr.sourceCode, td.sourceCode, table.sourceCode pre
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; background-color: #263238; color: #ecefef }
td.nums { text-align: right; padding-right: 5px; padding-left: 5px; background-color: #263238; }
td.sourceCode { padding-left: 5px; }
code.sourceCode { background-color: #263238; }
pre.sourceCode { background-color: #263238; line-height: 125% }
td.nums pre { background-color: #263238; line-height: 125% }
code.sourceCode span.kw { color: #81a2be; font-weight: bold } /* Keyword */
code.sourceCode span.dt { color: #b294bb} /* Keyword.Type */
code.sourceCode span.dv { color: #cc6666 } /* Literal.Number.Integer */
code.sourceCode span.bn { color: #cc6666 } /* Literal.Number.Hex */
code.sourceCode span.fl { color: #cc6666 } /* Literal.Number.Float */
code.sourceCode span.ch { color: #b5bd68} /* Literal.String.Char */
code.sourceCode span.st { color: #b5bd68 } /* Literal.String */
code.sourceCode span.co { color: #707880 } /* Comment */
code.sourceCode span.ot { color: #cc6666 } /* Comment.Preproc */
code.sourceCode span.al { color: #b294bb } /* Generic.Error */
code.sourceCode span.fu { color: #f0c674 } /* Name.Function */
code.sourceCode span.re { color: #8abeb7}
code.sourceCode span.er { color: #cc6666; border: 1px solid #b294bb } /* Error */
