/*

    Name:       Base16 material Dark
    Author:     Sean Washington (http://seanwash.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-material-dark.CodeMirror {background: #263238; color: #ecefef;}
.cm-s-base16-material-dark div.CodeMirror-selected {background: #263238 !important;}
.cm-s-base16-material-dark .CodeMirror-gutters {background: #263238; border-right: 0px;}
.cm-s-base16-material-dark .CodeMirror-linenumber {color: #707880;}
.cm-s-base16-material-dark .CodeMirror-cursor {border-left: 1px solid #b5bd68 !important;}

.cm-s-base16-material-dark span.cm-comment {color: #cc6666;}
.cm-s-base16-material-dark span.cm-atom {color: #b294bb;}
.cm-s-base16-material-dark span.cm-number {color: #b294bb;}

.cm-s-base16-material-dark span.cm-property, .cm-s-base16-material-dark span.cm-attribute {color: #b5bd68;}
.cm-s-base16-material-dark span.cm-keyword {color: #cc6666;}
.cm-s-base16-material-dark span.cm-string {color: #f0c674;}

.cm-s-base16-material-dark span.cm-variable {color: #b5bd68;}
.cm-s-base16-material-dark span.cm-variable-2 {color: #81a2be;}
.cm-s-base16-material-dark span.cm-def {color: #cc6666;}
.cm-s-base16-material-dark span.cm-error {background: #cc6666; color: #b5bd68;}
.cm-s-base16-material-dark span.cm-bracket {color: #ecefef;}
.cm-s-base16-material-dark span.cm-tag {color: #cc6666;}
.cm-s-base16-material-dark span.cm-link {color: #b294bb;}

.cm-s-base16-material-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
